@charset "UTF-8";

header {
			position: fixed !important;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
    		height: 50px;
    		background: #A4A4A4;
    		color: #000;
    		font-weight: bold
			}
			span#userName{
			position: absolute;
			color: #FFF;
			bottom: 0;
			right: 200px;}

			span#logOut{
			position: absolute;
			bottom: 0;
			right: 70px;
			text-decoration: underline;
			color: #FF0000;
			}

			#container{
			padding:70px 0;}

			h1{
			text-align: center;}

			p{
			font-weight: bold;
			}

			input[type="text"],input[type="password"]{
			width: 400px;
			height: 24px}

			.return{
			position:absolute;
			right: 1150px;
			text-decoration: underline;
			color: blue;
			cursor : pointer;
			}